<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            row-gap: 1vw;
            width: 200px;
        }
    </style>
</head>
<body>
    <form action="/print" method="POST">
        <input name="name" placeholder="enter name">
        <input name="salary" placeholder="enter salary">
        <input type="submit" value="submit">
    </form>
</body>
</html>